@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slide-in {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-in {
  animation: slide-in 0.3s ease-out;
}

/* Custom Theme Colors */
.theme-blue {
  --tw-bg-opacity: 1;
  background-color: rgb(239 246 255 / var(--tw-bg-opacity));
}

.theme-blue .bg-white {
  background-color: rgb(219 234 254);
}

.theme-blue .bg-gray-50 {
  background-color: rgb(191 219 254);
}

.theme-green .bg-white {
  background-color: rgb(220 252 231);
}

.theme-green .bg-gray-50 {
  background-color: rgb(187 247 208);
}

.theme-purple .bg-white {
  background-color: rgb(245 243 255);
}

.theme-purple .bg-gray-50 {
  background-color: rgb(221 214 254);
}

.theme-orange .bg-white {
  background-color: rgb(255 247 237);
}

.theme-orange .bg-gray-50 {
  background-color: rgb(254 215 170);
}
